ads1256_da
calibr/*
# Compiled Object files
*.lo
*.o
*.obj

# data files
*.txt

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Qt
moc_*.cpp
qrc_*.cpp
ui_*.h
*.qrc

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.bin

# dep files
*.d

# vim swaps
.*.swp

